.header{
height: 95vh;  
background-image: linear-gradient(to right bottom, rgba(7, 7, 7, 0.803) 35%, rgba(28, 1, 26, 0.79) 100%),url("../../assets/img/headerv2.jpg");
background-size: cover;   
background-position: center;
clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
position: relative;

}
.header__logo-box{
   position: absolute;
   top:4rem;
   bottom: 4rem;
   left: 4rem;
}

.header__logo{
height: 3.5rem;
}
.text-box{
    text-align: center;
    position: absolute;
    top:50%;
    left:55%;
    transform: translate(-50%,-50%);
   
}
.heading-primary{
color:#fff;
text-transform: uppercase;
backface-visibility: hidden; 
margin-bottom: 6rem;


}
.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s; */


}

.heading-primary--sub{
display: block;
font-size: 2rem;
font-weight: 700;
letter-spacing: 1rem;
animation-name: moveInRight;
animation-duration: 1s;
animation-timing-function: ease-out;
color:#f2e2e2
}

.btn{
  
    display: inline-block;
    padding:1.5rem 4rem;
    text-transform: uppercase;
    border-radius: 10rem;
    border-color: transparent;
    transition: all .2s;
    outline: none;
    position: relative;
   
    
}
.btn--white{
    background-color: #fff;
    color: "#777";
    
}
.btn:hover{
    transform: translateY(-.3rem);
  
    box-shadow: 0 1.5rem 2.5rem rgba(247, 247, 247, 0.2);
}
.btn:active{
    transform: translateY(-.1rem);
   
    box-shadow: 0 .5rem 1.0rem rgba(255, 255, 255, 0.2);
}

.btn::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   
    
}
.btn--white::after{
    background-color: #fff;
}
.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
    

}

.btn--animated{
    animation: ButtonUp 1s ease-out .75s ;
    animation-fill-mode: backwards;
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);

    }
    80%{
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);

    }
    80%{
        transform: translateX(-2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes ButtonUp{
    0%{
        opacity: 0;
        
        transform: translateY(3rem);

    }
    
    100%{
        opacity: 1;
        ;
        transform: translateY(0);
    }
}